{% extends 'mobile/base.html' %}

{% block '_content' %}

<h2> Bentornato, {{ user.full_name }} </h2>

<a href="index.html" data-role="button">Non so cosa guardare</a>

<form action="{% url 'search' %}" method="GET">
        <label for="search">Cerca una serie:</label>
        <input type="search" name="search" id="search" value="" placeholder=""/>
</form>

<h3>Serie che sto guardando</h3>

<ul data-role="listview" data-filter="true" data-theme="g">
    {% for serial in user.series %}
        <li>{{ serial.name }}</li>
    {% empty %}
        <li>Non stai guardando serie al momento.</li>
    {% endfor %}
</ul>

{% endblock %}
