{% extends 'mobile/base.html' %}

{% block '_content' %}

<h2> Community </h2>

{% if serial not in request.user.serials.all %}
<p>Non hai mai visto questa serie.</p>
<a href="#" data-rel="dialog" data-role="button">Inizio ora la prima puntata!</a>
{% else %}

Devi guardare la puntata x

La sto guardando! Probabilmente non la finirò

{% endif %}

Lista stagioni

<ul data-role="listview" data-filter="true" data-theme="g">
    {% for season in serial.seasons.all %}
    <li>Stagione {{ season.number }} ( {{ season.episode_number }})</li>
    {% empty %}
        <li>Questa serie non ha stagioni! Strano eh</li>
    {% endfor %}
</ul>

<a href="#" data-role="button">Inizio ora la prima puntata!</a>

{% endblock %}


{# dialog #}
<div data-role="page" id="watching">
  <div data-role="content">

    <p>Page content goes here.</p>
  </div>
</div>