{% extends 'mobile/base.html' %}

{% block '_content' %}

<h2> Community </h2>

{% if serial not in request.user.serials.all %}
<p>Non hai mai visto questa serie.</p>
<a href="{% url 'watch' serial_id=serial.id episode=1 season_number=1 %}" data-role="button">Inizio ora la prima puntata!</a>
{% else %}
<p>Devi guardare la puntata {{ user_serial.next_episode.number }} (stagione {{ user_serial.next_episode.season.number }})</p>
<a href="{% url 'watch' serial_id=serial.id episode=user_serial.next_episode.number season_number=user_serial.next_episode.season.number %}" data-role="button">La sto guardando!</a>


La sto guardando! Probabilmente non la finirò

{% endif %}

Lista stagioni

<ul data-role="listview" data-filter="true" data-theme="g">
    {% for season in serial.seasons.all %}
    <li>Stagione {{ season.number }} ( {{ season.episode_number }})</li>
    {% empty %}
        <li>Questa serie non ha stagioni! Strano eh</li>
    {% endfor %}
</ul>

<a href="#" data-role="button">Inizio ora la prima puntata!</a>

{% endblock %}


{# dialog #}
<div data-role="page" id="watching">
  <div data-role="content">

    <p>Page content goes here.</p>
  </div>
</div>
